@import "bootstrap-sprockets";
@import "bootstrap";

 .jumbotron {
   height: 100vh;
   min-height: 350px;
   margin-bottom: 60px;
   background: url(home.jpg) no-repeat center center;
   background-size: cover;
 }

 .jumbotron-container {
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   padding-left: 30px;
   padding-right: 30px;
 }

 .display-4 {
   font-family: 'Playfair Display', serif;
 }
 